.blog-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  color: #ffffff;
  background-color: #1a1a1a;
  border-radius: 10px;
}

.blog-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.published {
  color: #cccccc;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1rem;
}

.dot {
  font-weight: bold;
  margin: 0 5px;
}

.image-wrapper {
  text-align: center;
  margin-bottom: 1rem;
}

.blog-image {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.blog-description {
  font-size: 18px;
  color: #e0e0e0;
  margin-bottom: 1rem;
}

.blog-content {
  font-size: 17px;
  line-height: 1.6;
  color: #dddddd;
}

@media screen and (max-width:576px) {
    .blog-container{
        width: 450px;
    }
}